* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    padding: 10px;
}

.top{
    background-color: rgb(228, 134, 10);
}

.upperPic {
    height: 450px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
}

.everydayCat{
    height: 500px;
    margin-top: 10px;
}

.whitebox {
    height: 60px;
    width: 450px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute; 
    top: 10; 
    left: 10; 
    border-radius: 10px;
    background-color: white;
}

.whitebox h3{
    font-weight: 600;
}

.textCat{
    padding: 30px;
}

.whiteTxt{
    color: white;
}

.cara{
    height: 300px;
    width: 400px;
    overflow: hidden;
    object-fit: cover;
    margin: auto;
}

.big{
    padding: 50px;
}

.carouselBlock{
    width: 200px;
    height: 100px;
    background-color: rgb(137, 137, 137);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.down{
    margin-top: 300px;
}