* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    height: 100%;
    width: 100%;
}

.table{
    width: 2000px;
    object-fit: contain; 
}

.upperPic {
    height: 550px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
}

.whitebox {
    height: 60px;
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute; 
    margin-top: 220px;
    border-radius: 10px;
    background-color: white;
}

.whiteTxt{
    color: white;
}

.cara{
    height: 300px;
    width: 400px;
    overflow: hidden;
    object-fit: cover;
    margin: 10px;
    flex-wrap: wrap;
}

.bord{
    border: 8px solid rgb(205, 201, 201);
}

.down{
    margin-top: 300px;
}

.picCat{
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    flex-wrap: wrap;
    align-items: center;
}

.textCat{
    width: 80%;
    margin: 20px;
} 

.healthy{
    margin-top: 60px;
    padding: 45px;
    width: 100%;
    height: 30%;
    background-color: rgb(197, 208, 211);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.piccen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
}

.mar{
    margin: 20px;
}

.hel{
    height: 200px;
    width: 250px;
    overflow: hidden;
    object-fit: cover;
    margin: auto;
    flex-wrap: wrap;
}

.whiteimg{
    background-color: white;
    height: 60px;
    width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bottom{
    background-color: rgb(237, 153, 43);
    height: 140px;
    margin-top: 40px;
    min-width: 40%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.fixbot{
    margin-top: 40px;
}

.marge{
    margin-bottom: 5px;
}

.nav{
    padding: 10px;
    color: rgb(0, 0, 0);
} 

.paris{
    margin: 10%;
}

.time {
    padding: 40px;
    background-color: rgb(197, 208, 211);
    margin: 0 auto; 
    box-sizing: border-box; 
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-bottom: 20px; 
}

th, td {
    padding: 5px;
    text-align: left;
}

.picture{
    height: 1100px;
    width: 2000px;
}

.bengal{
    width: 100%;
    height: 500%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stars{
    margin: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.checked {
    color: rgb(220, 43, 43);
    }

.red{
    padding: 10px;
    background-color: rgb(185, 23, 23);
    color: white;
    border-radius: 20px;
    border: 1px solid rgb(185, 23, 23);
}

.printer{
    width: 25px;
    height: 25px;
}

.printerbutton{
    border-radius: 35%;
    margin: 10px;
}

.twobottons{
    display: flex;
    justify-content:center;
    align-items: center;
}

.graybox{
    margin: 20px;
    padding: 5%;
    height: 10%;
    background-color: rgb(227, 236, 239);
}

.leftside{
    width: 50%;
    margin: 20px;
    padding: 15px;
}

.rightside{
    width: 50%;
    margin: 20px;
    padding: 15px;
}

.bottomsection{
    width: 80%;
    height: 550%;
}

.side{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.marges{
    margin-bottom: 50px;
}

.topnav {
    overflow: hidden;
    color: black;
    background-color: rgb(237, 153, 43);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.topnav a {
float: left;
display: block;
justify-content: center;
text-align: center;
padding: 30px 50px;
text-decoration: none;
font-size: 17px;
}

.topnav .icon {
    display: none;
} 

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        display: block;
        text-align: left;
    }
}
.bold{
    transform: scale(3);
    color: black;
}

.stay{
    display: flex;
    position: relative;
}