* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    padding: 10px;
    background-color: bisque;
}

.top{
    background-color: rgb(228, 134, 10);
}

.upperPic {
    height: 450px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
}

.everydayCat{
    height: 400px;
    background-color: rgb(235, 80, 80);
    margin-top: 10px;
}

.whitebox {
    height: 60px;
    width: 450px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute; 
    top: 10; 
    left: 10; 
    border-radius: 10px;
    background-color: white;
}

.whitebox h3{
    font-weight: 600;
}